<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new Customer</title>
</head>
<style>
    input{

        min-width: 200px;
        min-height: 30px;

    }
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
</style>
<body>

<h1>Pensionat Koriander !</h1>

<h2>Add customer</h2>
<form action="/bookings/add" th:object="${newCustomers}" method="post">
    <label for="ssn">Social Security Number:</label><br>
    <input type="text" id="ssn" name="Ssn" required pattern="[0-9]{10,12}"
           title="Please enter a 10-digit or 12-digit Social Security Number"><br><br>

    <label for="mail">Email:</label><br>
    <input type="email" id="mail" name="email" required><br><br>

    <label for="fname">First Name:</label><br>
    <input type="text" id="fname" name="firstName" required pattern="[A-Öa-ö]+"
           title="Please enter letters only for First Name"><br><br>

    <label for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lastName" required pattern="[A-Öa-ö]+"
           title="Please enter letters only for Last Name"><br><br>

    <label for="phone">Phone number:</label><br>
    <input type="tel" id="phone" name="phone" required pattern="[0-9]{0,10}"
           title="Please enter a 10-digit Phone number"><br><br>

    <input type="submit" value="Submit">

</form>
</body>
</html>