<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Add a new Customer</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>

<div class="header">
    <div class="logo">
        <a th:href="@{http://localhost:8080}">
            <h1>Pensionat Koriander</h1>
        </a>
    </div>

    <div class="links">
        <th:block sec:authorize="isAuthenticated()">
            <button class="logout-btn-header" th:attr="onclick='window.location.href=`/logout`'">LOG OUT</button>
        </th:block>
        <button class="btn-header" th:attr="onclick='window.location.href=`/customers`'">CUSTOMERS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/blacklistCustomers`'">BLACKLIST</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/bookings`'">BOOKINGS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/rooms`'">ROOMS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/ContractCustomers`'">CONTRACT CUSTOMERS</button>
        <th:block sec:authorize="hasAuthority('Admin')">
            <button sec:authorize="isAuthenticated()" class="btn-header" th:attr="onclick='window.location.href=`/users`'">USERS</button>
        </th:block>
    </div>
    <br>
    <div>
        <button class="add-btn" th:attr="onclick='location.href=`/addNewCustomer`'">ADD CUSTOMER</button>
        <button class="add-btn" th:attr="onclick='location.href=`/newCurrentCustomer`'">ADD BOOKING</button>
    </div>
</div>

<div class="table">
    <h2>Add New Customer</h2>
</div>
<div class="center-box">
    <p th:if="${isAdded == false}" class="alert alert-danger" role="alert">This is updated</p>
    <p th:if="${wasBlackListed == true}" class="alert alert-danger" role="alert">This person is blacklisted</p>
    <form action="/bookings/add" th:object="${newCustomers}" method="post">
        <label for="ssn">SSN:</label><br>
        <input type="text" id="ssn" name="ssn" required pattern="[0-9]{12}"
               title="Please enter a 12-digit Social Security Number"><br><br>

        <label for="mail">EMAIL:</label><br>
        <input type="email" id="mail" name="email" required><br><br>

        <label for="fname">FIRST NAME:</label><br>
        <input type="text" id="fname" name="firstName" required pattern="[A-Öa-ö]+"
               title="Please enter letters only for First Name"><br><br>

        <label for="lname">LAST NAME:</label><br>
        <input type="text" id="lname" name="lastName" required pattern="[A-Öa-ö]+"
               title="Please enter letters only for Last Name"><br><br>

        <label for="phone">PHONE:</label><br>
        <input type="tel" id="phone" name="phone" required pattern="[0-9]{0,10}"
               title="Please enter a 10-digit Phone number"><br><br>

        <input class="submit-btn" type="submit" value="SUBMIT">
    </form>
</div>
</body>
</html>