<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Add a new Customer</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<div class="header">
    <div class="logo">
        <a th:href="@{http://localhost:8080}">
            <h1>Pensionat Koriander</h1>
        </a>
    </div>

    <div class="links">
        <button class="btn-header" th:attr="onclick='window.location.href=`/customers`'">CUSTOMERS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/blacklistCustomers`'">BLACKLIST</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/bookings`'">BOOKINGS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/rooms`'">ROOMS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/ContractCustomers`'">CONTRACT CUSTOMERS</button>
        <th:block sec:authorize="hasAuthority('Admin')">
            <button sec:authorize="isAuthenticated()" class="btn-header" th:attr="onclick='window.location.href=`/Users`'">USERS</button>
        </th:block>
    </div>
    <br>
    <div>
        <button class="add-btn" th:attr="onclick='location.href=`/addNewCustomer`'">ADD CUSTOMER</button>
        <button class="add-btn" th:attr="onclick='location.href=`/newCurrentCustomer`'">ADD BOOKING</button>
    </div>
</div>

<div class="table">
    <h2>Blacklist a Customer</h2>
</div>
<div class="blacklist-form">
    <p th:if="${isAdded == true}" class="alert alert-danger" role="alert">This person has been blacklisted</p>
    <p th:if="${blacklistExists == true}" class="alert alert-danger" role="alert">This person already exist in blacklist</p>
    <form id="addForm" action="/blacklist/add" method="post">
        <label for="name">NAME:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">EMAIL:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <input class="black-listed" type="submit" value="ADD TO BLACKLIST">
    </form>
    </div>
    <br>
<div class="table-update-blacklist">
    <h2>Update status</h2>
</div>
<div class="blacklist-form">
    <p th:if="${isGreenlisted == true}" class="alert alert-success" role="alert">This person has been Greenlisted</p>
    <p th:if="${isBlacklisted == true}" class="alert alert-danger" role="alert">This person has been Blacklisted</p>
    <form class="addForm" id="updateForm" method="get">
        <label for="emailUpdate">EMAIL:</label><br>
        <input type="email" id="emailUpdate" name="email" required><br><br>
        <div class="buttons-box">
            <button class="black-listed" onclick="validateAndSubmit('blacklist')">BLACKLIST</button>
            <button class="green-listed" onclick="validateAndSubmit('green-list')">GREENLIST</button>
        </div>
    </form>
</div>

<script>

    function validateAndSubmit(actionType) {
        const emailField = document.getElementById('emailUpdate');
        if (!emailField.value) {
            alert('Please enter an email address.');
            return;
        }

        const updateForm = document.getElementById('updateForm');
        if (actionType === 'blacklist') {
            updateForm.action = "/blacklist/updateFalse";
        } else {
            updateForm.action = "/blacklist/updateTrue";
        }

        updateForm.submit();
    }

    // function changeAction(ca) {
    //     const uf = document.getElementById('updateForm');
    //
    //     if (ca === 'blacklist') {
    //         uf.action="/blacklist/updateFalse";
    //     } else {
    //         uf.action="/blacklist/updateTrue"
    //     }
    //
    //     uf.submit();
    // }
</script>
</body>
</html>