<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<div class="header">
    <div class="logo">
        <a th:href="@{http://localhost:8080}">
            <h1>Pensionat Koriander</h1>
        </a>
    </div>

    <div class="links">
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/customers`'">CUSTOMERS</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/blacklistCustomers`'">BLACKLIST</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/bookings`'">BOOKINGS</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/rooms`'">ROOMS</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/ContractCustomers`'">CONTRACT CUSTOMERS</button>
        <th:block sec:authorize="hasAuthority('Admin')">
            <button sec:authorize="isAuthenticated()" class="add-btn-header" th:attr="onclick='window.location.href=`/Users`'">USERS</button>
        </th:block>
    </div>
    <br>
    <div>
        <button class="add-btn" th:attr="onclick='location.href=`/addNewCustomer`'">ADD CUSTOMER</button>
        <button class="add-btn" th:attr="onclick='location.href=`/newCurrentCustomer`'">ADD BOOKING</button>
    </div>
</div>

<div class="table">
    <h2>Bookings</h2>
    <table>
        <tr>
            <th>BOOKING ID</th>
            <th>ROOM NO</th>
            <th>CUSTOMER NO</th>
            <th>CHECK-IN DATE</th>
            <th>CHECK-OUT DATE</th>
            <th>ROOM TYPE</th>
            <th>EXTRA BEDS</th>
            <th>PRICE</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>

        <tr th:each="bookings: ${bookingsList}">
            <td th:text="${bookings.getId()}"></td>
            <td th:text="${bookings.getRoom().getRoomNumber()}"></td>
            <td th:text="${bookings.getCustomerDTO().getId()}"></td>
            <td th:text="${bookings.getStartDate()}"></td>
            <td th:text="${bookings.getEndDate()}"></td>
            <td th:text="${bookings.getRoom().getRoomType()}"></td>
            <td th:text="${bookings.getAmountOfBeds()}"></td>
            <td th:text="${bookings.getTotalPrice()}"></td>
            <td>
                <button class="edit-btn"  th:data-url="'/bookings/edit/' + ${bookings.getId()}"
                        onclick="window.location.href = this.getAttribute('data-url')">EDIT</button>
            </td>
            <td>
                <button class="delete-btn" th:data-url="'/bookings/' + ${bookings.getId()} + '/delete'"
                        onclick="window.location.href = this.getAttribute('data-url')">DELETE</button>
            </td>
        </tr>

    </table>
</div>

</body>
</html>