<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>


<div class="login-page">
    <img src="/images/Pensionat-Koriander.png" alt="Pensionat-Koriander-House" class="login-pic">
</div>
<div class="logo logo-login">
    <a th:href="@{http://localhost:8080}">
        <h1>Pensionat Koriander</h1>
    </a>
</div>
<div class ="log-in-panel">
    <h2 class="pls-sign-in">CHANGE YOUR PASSWORD</h2>
    <form action="/sendForgotPwEmail" method="post">
        <input class="input-login" type="text" name="username" placeholder ="Email"><br><br>
        <button class="sign-in-btn" type="submit">RESET PASSWORD</button><br><br>
    </form>
</div>

</body>
</html>