<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Contract Customers</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<div class="header">
    <div class="logo">
        <a th:href="@{http://localhost:8080}">
            <h1>Pensionat Koriander</h1>
        </a>
    </div>

    <div class="links">
        <th:block sec:authorize="isAuthenticated()">
            <button class="logout-btn-header" th:attr="onclick='window.location.href=`/logout`'">LOG OUT</button>
        </th:block>
        <button class="btn-header" th:attr="onclick='window.location.href=`/customers`'">CUSTOMERS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/blacklistCustomers`'">BLACKLIST</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/bookings`'">BOOKINGS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/rooms`'">ROOMS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/ContractCustomers`'">CONTRACT CUSTOMERS</button>
        <th:block sec:authorize="hasAuthority('Admin')">
            <button sec:authorize="isAuthenticated()" class="btn-header" th:attr="onclick='window.location.href=`/users`'">USERS</button>
        </th:block>
    </div>
    <br>
    <div>
        <button class="add-btn" th:attr="onclick='location.href=`/addNewCustomer`'">ADD CUSTOMER</button>
        <button class="add-btn" th:attr="onclick='location.href=`/newCurrentCustomer`'">ADD BOOKING</button>
    </div>
    <div class="search-box">
        <h3>Search Contracts</h3>
        <form action="/ContractCustomers/search" method="get">
            <input type="hidden" name="orderString" id="hiddenSort" th:value="${sortString}">
            <label for="search"></label>
            <input type="text" name="searchWord" id="search">
            <div class="btn-box">
                <button class="search-reset-btn" type="submit">Search</button>
                <button class="search-reset-btn" onclick="resetSearch()">Reset</button>
            </div>
        </form>
    </div>
</div>

<div class="contract-table">
    <h2>Contract Customers</h2>
    <table>
        <tr>
            <th>
                COMPANY
                <img class="sort-asc" src="/images/ascending_icon.png" alt="" onclick="sortList('companyName - ASC')"/>
                <img class="sort-desc" src="/images/descending_icon.png" alt="" onclick="sortList('companyName - DESC')"/>
            </th>
            <th>
                CONTACT PERSON
                <img class="sort-asc" src="/images/ascending_icon.png" alt="" onclick="sortList('contactName - ASC')"/>
                <img class="sort-desc" src="/images/descending_icon.png" alt="" onclick="sortList('contactName - DESC')"/>
            </th>
            <th>
                COUNTRY
                <img class="sort-asc" src="/images/ascending_icon.png" alt="" onclick="sortList('country - ASC')"/>
                <img class="sort-desc" src="/images/descending_icon.png" alt="" onclick="sortList('country - DESC')"/>
            </th>
            <th>MORE INFORMATION</th>
        </tr>
        <tr th:each="contractCustomer: ${contractCustomersList}">
            <td th:text="${contractCustomer.companyName}"></td>
            <td th:text="${contractCustomer.contactName}"></td>
            <td th:text="${contractCustomer.country}"></td>
            <td>

                <button class="more-info-btn" th:data-url="'/fullInformation/' + ${contractCustomer.internalId}"
                        onclick="window.location.href = this.getAttribute('data-url')">MORE INFO
                </button>
            </td>
        </tr>
    </table>
</div>
<script>
    function sortList(sortingKeyWord) {
        window.location.href = "/ContractCustomers/sort/" + sortingKeyWord;
    }

    function resetSearch() {
        window.location.href = "/ContractCustomers/reset";
    }
</script>
</body>
</html>