<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
</head>
<style>
    td {
        text-align: center;
        width: 200px;
        background-color: lightgrey;
    }
    th {
        background-color: black;
        color: whitesmoke;
        width: 200px;
    }
</style>
<body>
<div>
    <!-- Detta är titeln till sidan -->
<h1>Pensionat Koriander !</h1>
    <!-- Detta är länkarna till varje sida -->
<a th:href="@{/customers}">Customer</a>
<a th:href="@{/bookings}">Booking</a>
<a th:href="@{/rooms}">Room</a>
</div>

<!-- Detta är kunderna i fråga till varje sida -->
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Social security number</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone number</th>
            <th>Delete customer</th>
        </tr>
        <tr th:each = "customer: ${customersList}">
            <td th:text = "${customer.getId()}"></td>
            <td th:text = "${customer.getSsn()}"></td>
            <td th:text = "${customer.getEmail()}"></td>
            <td th:text = "${customer.getFirstName()}"></td>
            <td th:text = "${customer.getLastName()}"></td>
            <td th:text = "${customer.getPhone()}"></td>
            <td>
                <form th:action="@{/deleteCustomer}" method="post">
                    <input type="hidden" name="customerId" th:value="${customer.getId()}"/>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<!-- Detta är Knapparna i till sidan -->
<div>
    <a th:href="@{/addNewCustomer}">Add new Customer</a>
    <a th:href="@{/removeCustomer}">Remove Customer</a>
    <a th:href="@{/UpdateCustomer}">Update Customer</a>
</div>

</body>
</html>