<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<div class="header">
    <div class="logo">
        <a th:href="@{http://localhost:8080}">
            <h1>Pensionat Koriander</h1>
        </a>
    </div>
    <div class="login-info">
        <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <p>Du är inloggad som Admin</p>
        </th:block>
    </div>

    <div class="links">
        <th:block sec:authorize="!hasAuthority('Admin') or !hasAuthority('Reception')">
            <button sec:authorize="!isAuthenticated()" class="login-btn-header" th:attr="onclick='window.location.href=`/login`'">LOG IN</button>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <button class="logout-btn-header" th:attr="onclick='window.location.href=`/logout`'">LOG OUT</button>
        </th:block>
        <button class="btn-header" th:attr="onclick='window.location.href=`/customers`'">CUSTOMERS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/blacklistCustomers`'">BLACKLIST</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/bookings`'">BOOKINGS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/rooms`'">ROOMS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/ContractCustomers`'">CONTRACT CUSTOMERS</button>
        <th:block sec:authorize="hasAuthority('Admin')">
            <button sec:authorize="isAuthenticated()" class="btn-header" th:attr="onclick='window.location.href=`/users`'">USERS</button>
            <button sec:authorize="isAuthenticated()" class="btn-header" th:attr="onclick='window.location.href=`/emailTemplate`'">EMAIL TEMPLATE</button>
        </th:block>
    </div>
</div>

<div class ="log-in-panel">
    <h2 class="reset-pw">Reset Password</h2>
    <p th:if="${errorMessage == true}" class="alert alert-danger" role="alert">User not found</p>
    <p th:if="${successfulMessage == true}" class="alert alert-success" role="alert">Click the reset link provided in the e-mail to reset your password</p>
    <form action="/sendForgotPwEmail" th:object="${user}" method="post">
        <label>
            <input class="login-input" type="text" name="username" placeholder="Enter your email">
        </label>
        <br>
        <div class="reset-pw-btn-box">
        <button class="reset-pw-btn" type="submit">RESET PASSWORD</button>
        </div>
    </form>
</div>

<div class="start-page">
    <img src="/images/Pensionat-Koriander.png" alt="Pensionat-Koriander-House">
</div>

</body>
</html>