<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Contract Customers</title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<div class="header">
  <div class="logo">
    <a th:href="@{http://localhost:8080}">
      <h1>Pensionat Koriander</h1>
    </a>
  </div>

  <div class="links">
    <th:block sec:authorize="isAuthenticated()">
      <button class="logout-btn-header" th:attr="onclick='window.location.href=`/logout`'">LOG OUT</button>
    </th:block>
    <button class="btn-header" th:attr="onclick='window.location.href=`/customers`'">CUSTOMERS</button>
    <button class="btn-header" th:attr="onclick='window.location.href=`/blacklistCustomers`'">BLACKLIST</button>
    <button class="btn-header" th:attr="onclick='window.location.href=`/bookings`'">BOOKINGS</button>
    <button class="btn-header" th:attr="onclick='window.location.href=`/rooms`'">ROOMS</button>
    <button class="btn-header" th:attr="onclick='window.location.href=`/ContractCustomers`'">CONTRACT CUSTOMERS</button>
    <th:block sec:authorize="hasAuthority('Admin')">
      <button sec:authorize="isAuthenticated()" class="btn-header" th:attr="onclick='window.location.href=`/users`'">USERS</button>
      <button sec:authorize="isAuthenticated()" class="btn-header" th:attr="onclick='window.location.href=`/emailTemplate`'">EMAIL TEMPLATE</button>
    </th:block>
  </div>
  <br>
  <div>
    <button class="add-btn" th:attr="onclick='location.href=`/addNewCustomer`'">ADD CUSTOMER</button>
    <button class="add-btn" th:attr="onclick='location.href=`/newCurrentCustomer`'">ADD BOOKING</button>
  </div>
</div>

<div class="table">
  <h2>Contract Customers</h2>
  <table>
    <tr>
      <th>COMPANY</th>
      <th>CONTACT PERSON</th>
      <th>CONTACT TITLE</th>
      <th>ADDRESS</th>
      <th>CITY</th>
      <th>POSTAL CODE</th>
      <th>COUNTRY</th>
      <th>PHONE</th>
      <th>FAX</th>
    </tr>
    <tr>
      <td th:text="${fullInfoCCustomer.companyName}"> </td>
      <td th:text="${fullInfoCCustomer.contactName}"></td>
      <td th:text="${fullInfoCCustomer.contactTitle}"></td>
      <td th:text="${fullInfoCCustomer.streetAddress}"></td>
      <td th:text="${fullInfoCCustomer.city}"></td>
      <td th:text="${fullInfoCCustomer.postalCode}"></td>
      <td th:text="${fullInfoCCustomer.country}"></td>
      <td th:text="${fullInfoCCustomer.phone}"></td>
      <td th:text="${fullInfoCCustomer.fax}"></td>
    </tr>
  </table>
</div>

</body>
</html>