<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<div class="header">
    <div class="logo">
        <a th:href="@{http://localhost:8080}">
            <h1>Pensionat Koriander</h1>
        </a>
    </div>
    <div class="links">
        <button class="btn-header" th:attr="onclick='window.location.href=`/customers`'">CUSTOMERS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/blacklistCustomers`'">BLACKLIST</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/bookings`'">BOOKINGS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/rooms`'">ROOMS</button>
        <button class="btn-header" th:attr="onclick='window.location.href=`/ContractCustomers`'">CONTRACT CUSTOMERS</button>
        <th:block sec:authorize="hasAuthority('Admin')">
            <button sec:authorize="isAuthenticated()" class="btn-header" th:attr="onclick='window.location.href=`/Users`'">USERS</button>
        </th:block>
    </div>
    <br>
    <div>
        <button class="add-btn" th:attr="onclick='location.href=`/addNewCustomer`'">ADD CUSTOMER</button>
        <button class="add-btn" th:attr="onclick='location.href=`/newCurrentCustomer`'">ADD BOOKING</button>
    </div>
    <div class="search-box">
        <h3>Search Rooms</h3>
        <form action="/rooms" th:object="${roomSearch}" method="post">
            <table class="search-table">
            <tr>
                <th>
                    <label for="startDate">CHECK-IN DATE</label>
                </th>
                <th>
                    <label for="endDate">CHECK-OUT DATE</label>
                </th>
                <th>
                    <label for="extraBeds">Extra beds:</label>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="date" name="startDate" id="startDate" onchange="updateEndDateOnChange()" required>
                </th>
                <th>
                    <input type="date" name="endDate" id="endDate" required>
                </th>
                <th>
                    <input type="number" value="0" name="roomType" id="extraBeds" min="0" max="2" required>
                </th>
            </tr>
            </table>
            <div class="btn-box">
                <button class="search-reset-btn" type="submit">Search</button>
                <button class="search-reset-btn" type="button" th:onclick="|window.location.href='@{/rooms}'|">Reset</button>
            </div>
        </form>
    </div>
</div>

<div class="rooms-table">
    <h2>Rooms</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>ROOM NO</th>
            <th>PRICE</th>
            <th>ROOM TYPE</th>
            <th>ROOMS LOG</th>
        </tr>

        <tr th:each="rooms: ${roomsList}">
            <td th:text="${rooms.getId()}"></td>
            <td th:text="${rooms.getRoomNumber()}"></td>
            <td th:text="${rooms.getPrice()}"></td>
            <td th:text="${rooms.getRoomType()}"></td>
            <td>
                <button class ="room-logs-btn" th:data-url="'/roomLog/' +${rooms.id}"
                onclick="window.location.href = this.getAttribute('data-url')">ROOM LOG</button>

            </td>

        </tr>
    </table>
</div>

<script>
    function updateEndDateOnChange() {
        const startDate = new Date(document.getElementById('startDate').value)
        startDate.setDate(startDate.getDate() + 1)

        const minDate = startDate.toISOString().split("T")[0]
        const endDate = document.getElementById('endDate');
        endDate.setAttribute('min', minDate)
        endDate.value = minDate;
    }
</script>
</body>
</html>