body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #879589;
}

td {
    text-align: center;
    width: 200px;
    background-color: white;
    font-family: "Arial", serif;
    color: #5e775f;
}

th {
    background-color: #b4c4b5;
    font-family: "Arial", serif;
    font-size: 14px;
    color: #5e775f;
    width: 200px;
}

h2 {
    color: white;
    font-family: "Caveat", sans-serif;
    font-size: 50px;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b4c4b5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header button {
    margin-bottom: 10px;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

a {
    width: 125px;
    height: 35px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Arial", serif;
    font-style: normal;
    text-decoration: none;
}

.add-btn-header {
    width: 190px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #ccd4bc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #5e775f;
    font-family: "Arial Black", serif;
    font-size: 12px;
}

.add-btn-header:hover {
    width: 190px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #b4bda1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #5e775f;
    font-family: "Arial Black", serif;
    font-size: 12px;
}

.add-btn {
    width: 170px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #f5ebd9;
}

.add-btn:hover {
    width: 170px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #dcd0bb;
}

.edit-btn {
    width: 50px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #f5ebd9;
}

.edit-btn:hover {
    width: 50px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #dcd0bb;
}

.delete-btn {
    width: 70px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #f5ebd9;
}

.delete-btn:hover {
    width: 70px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #dcd0bb;
}

.logo h1 {
    margin-top: 15px;
    font-family: "Caveat", sans-serif;
    font-size: 70px;
    letter-spacing: 2px;
    color: #5e775f;
}

.logo {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100px;
}