<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update customer</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<div class="header">
    <div class="logo">
        <a th:href="@{http://localhost:8080}">
            <h1>Pensionat Koriander</h1>
        </a>
    </div>

    <div class="links">
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/customers`'">CUSTOMERS</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/blacklistCustomers`'">BLACKLIST</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/bookings`'">BOOKINGS</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/rooms`'">ROOMS</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/ContractCustomers`'">CONTRACT CUSTOMERS</button>
    </div>
    <br>
    <div>
        <button class="add-btn" th:attr="onclick='location.href=`/addNewCustomer`'">ADD CUSTOMER</button>
        <button class="add-btn" th:attr="onclick='location.href=`/newCurrentCustomer`'">ADD BOOKING</button>
    </div>
</div>

<div class="center-box">
    <h2>Update existing customer</h2>
    <form action="/UpdateCustomers" th:object="${updatedCustomer}" method="post">
        <input type="hidden" id="id" name="id" th:field="*{id}" required/>
        <br><br>

        <label for="ssn">Social Security Number:</label><br>
        <input type="text" id="ssn" name="ssn" th:field="*{ssn}" required pattern="[0-9]{12}" title="Please enter a 12-digit Social Security Number" disabled>
        <br><br>

        <label for="mail">Email:</label><br>
        <input type="email" id="mail" name="email" th:field="*{email}" required>
        <br><br>

        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="firstName" th:field="*{firstName}" required pattern="[A-Öa-ö]+" title="Please enter letters only for First Name">
        <br><br>

        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lastName" th:field="*{lastName}" required pattern="[A-Öa-ö]+" title="Please enter letters only for Last Name">
        <br><br>

        <label for="phone">Phone number:</label><br>
        <input type="tel" id="phone" name="phone" th:field="*{phone}" required pattern="[0-9]{0,10}"
               title="Please enter a 10-digit Phone number">
        <br><br>

        <input class="add-btn" type="submit" value="SUBMIT">
    </form>
</div>

</body>
</html>