<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update customer</title>
</head>
<body>

<!-- Detta är titeln till sidan -->
<h1>Pensionat Koriander !</h1>

<!-- Detta är uppskapandet av formuläret till sidan -->
<h2>Update existing customer</h2>
<form action="/UpdateCustomers" th:object="${updatedCustomer}" method="post">

    <label for="id">Id:</label>
    <input type="text" id="id" name="id" th:value="${updatedCustomer.getId()}" required/><br><br>

    <label for="Ssn">Social Security Number:</label>
    <input type="text" id="Ssn" name="Ssn" th:value="${updatedCustomer.getSsn()}" required/><br><br>

    <label for="mail">Email:</label>
    <input type="email" id="mail" name="email" th:value="${updatedCustomer.getEmail()}" required><br><br>

    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="firstName" th:value="${updatedCustomer.getFirstName()}" required><br><br>

    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="lastName" th:value="${updatedCustomer.getLastName()}" required><br><br>

    <label for="phone">Phone number:</label>
    <input type="tel" id="phone" name="phone" th:value="${updatedCustomer.getPhone()}" required><br><br>

    <!--knapp för att lägga till nya kunden-->
    <input type="submit" value="Submit">

</form>
</body>
</html>