<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
<div class="header">
    <div class="logo">
        <a th:href="@{http://localhost:8080}">
            <h1>Pensionat Koriander</h1>
        </a>
    </div>

    <div class="links">
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/customers`'">CUSTOMERS</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/blacklistCustomers`'">BLACKLIST</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/bookings`'">BOOKINGS</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/rooms`'">ROOMS</button>
        <button class="add-btn-header" th:attr="onclick='window.location.href=`/ContractCustomers`'">CONTRACT CUSTOMERS</button>
        <th:block sec:authorize="hasAuthority('Admin')">
            <button sec:authorize="isAuthenticated()" class="add-btn-header" th:attr="onclick='window.location.href=`/Users`'">USERS</button>
        </th:block>
    </div>
    <br>
    <div>
        <button class="add-btn" th:attr="onclick='location.href=`/addNewCustomer`'">ADD CUSTOMER</button>
        <button class="add-btn" th:attr="onclick='location.href=`/newCurrentCustomer`'">ADD BOOKING</button>
    </div>
</div>

<div class="table">
    <h2>Users</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>USER NAME</th>
            <th>ROLES</th>
            <th>EDIT</th>
            <th>DELETE</th>

        </tr>
        <tr th:each="user: ${usersList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.roles}"></td>



            <td>
                <button class="edit-btn" th:data-url="'/users/' + ${user.id}"
                        onclick="window.location.href = this.getAttribute('data-url')">EDIT
                </button>
            </td>

            <td>
                <button class="edit-btn" th:data-url="'/users/' + ${user.id}"
                        onclick="window.location.href = this.getAttribute('data-url')">DELETE
                </button>
            </td>


        </tr>
    </table>
</div>
</body>
</html>