@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: #879589;
}

td {
    text-align: center;
    width: 200px;
    background-color: white;
    font-family: "Arial", serif;
    color: #5e775f;
}

th {
    background-color: #b4c4b5;
    font-family: "Arial", serif;
    font-size: 14px;
    color: #5e775f;
    width: 200px;
}

h2 {
    color: white;
    font-family: "Caveat", sans-serif;
    font-size: 50px;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b4c4b5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header button {
    margin-bottom: 10px;
}

.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

a {
    width: 125px;
    height: 35px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Arial", serif;
    font-style: normal;
    text-decoration: none;
    margin: 5px;
}

.btn-header {
    width: 190px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #ccd4bc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #5e775f;
    font-family: "Arial Black", serif;
    font-size: 12px;
}

.btn-header:hover {
    width: 190px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #b4bda1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #5e775f;
    font-family: "Arial Black", serif;
    font-size: 12px;
}

.login-btn-header {
    width: 190px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #5e775f;
    font-family: "Arial Black", serif;
    font-size: 12px;
}

.login-btn-header:hover {
    width: 190px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #d0d0d0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #5e775f;
    font-family: "Arial Black", serif;
    font-size: 12px;
}

.logout-btn-header {
    width: 190px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #6b1d1d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #f5ebd9;
    font-family: "Arial Black", serif;
    font-size: 12px;
}

.logout-btn-header:hover {
    width: 190px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #b23b3b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #f5ebd9;
    font-family: "Arial Black", serif;
    font-size: 12px;
}

.add-btn {
    width: 170px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #f5ebd9;
}

.add-btn:hover {
    width: 170px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #dcd0bb;
}

.logo {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100px;
}

.start-page img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-content: center;
    align-items: center;
}

.edit-btn {
    width: 50px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #f5ebd9;
}

.edit-btn:hover {
    width: 50px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #dcd0bb;
}

.delete-btn {
    width: 70px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #f5ebd9;
}

.delete-btn:hover {
    width: 70px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #dcd0bb;
}

h3 {
    color: white;
    font-family: "Caveat", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.logo h1 {
    margin-top: 0;
    font-family: "Caveat", sans-serif;
    font-size: 70px;
    letter-spacing: 2px;
    color: #5e775f;
}

input {
    min-width: 200px;
    min-height: 30px;
}

.center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 0;
    background-color: #b4c4b5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #5e775f;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
}

.black-listed {
    background-color: darkred;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
}

.green-listed {
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
}

.buttons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.center-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Caveat", sans-serif;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 230px;
}

.table-update-blacklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}


.rooms-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

.contract-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 370px;
}

.room-logs-btn, .more-info-btn {
    width: 100px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #f5ebd9;
}

.room-logs-btn:hover, .more-info-btn:hover {
    width: 100px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #dcd0bb;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-box h2 {
    margin-bottom: 0;
}

.btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-reset-btn {
    width: 60px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #f5ebd9;
}

.search-reset-btn:hover {
    width: 60px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #dcd0bb;
}

.submit-btn {
    width: 150px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #f5ebd9;
}

.submit-btn:hover {
    width: 150px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #dcd0bb;
}

p {
    color: white;
    font-family: "Caveat", sans-serif;
    font-size: 50px;
    margin: 0;
}

.sort-asc {
    width: 18px;
    height: 18px;
}

.sort-desc {
    width: 18px;
    height: 18px;
}

input[type="date"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select {
    width: 170px;
    height: 20px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    color: #5e775f;
    background-color: white;
    text-align: center;
}

.dropdown-box {
    width: 206px;
    height: 34px;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    color: #5e775f;
    background-color: white;
    text-align: center;
}

.blacklist-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: #b4c4b5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #5e775f;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 5px;
}

.alert-dismissible {
    padding-right: 35px;
}

.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
}

.alert-success hr {
    border-top-color: #c9e2b3;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
}

.alert-success .alert-link {
    color: #2b542c;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.alert-info .alert-link {
    color: #245269;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-warning hr {
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
}

.alert-danger .alert-link {
    color: #843534;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
}

.sign-in-btn{
    width: 190px;
    height: 40px;
    margin: 5px;
    margin-left: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #f5ebd9;
}

.sign-in-btn:hover {
    width: 190px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0;
    background-color: #b4bda1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #5e775f;
    font-family: "Arial Black", serif;
    font-size: 12px;
}

.log-in-panel {
    position: fixed;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
    background-color: #b4c4b5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: #5e775f;
    font-family: "Arial Black", sans-serif;
    font-size: 12px;
}

.login-page img .forgot-pw{
    display: block;
    overflow-y: hidden;
    width: 100%;
    height: 70%;
    object-fit: cover;
    align-content: center;
    align-items: center;
    color: #5e775f;

    /*width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;*/
}

input::placeholder{
    text-align: center;
    color: black;
}

.logo-login{
    position: fixed;
    top: 0;
}

.input-login{
    text-align: center;
}

.pls-sign-in{
    color: #5e775f;
}

.forgot-pw{
    width: 190px;
    height: 40px;
    margin: 5px;
    margin-left: 5px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Arial Black", serif;
    font-size: 12px;
    color: #5e775f;
    background-color: #f5ebd9;
}
